@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}

ul li{
    list-style: none;
}

a {
text-decoration: none;
}

body{
    text-align: center;
    min-width: 80%;
}

header{
    background-color: pink;
    width: auto;
    display: flex;
    justify-content: space-around;
}

header h1{
    margin: auto 0px;
}

header img{
    width: 100px;
    margin: 20px 0px;
}

table{
    width: 100%;
    max-width: 80%;
}

th,td{
    padding: 10px;
}

h2{
    color: white;
    background-color: black;
}

footer img{
    width: 100%;
}

.TrimmerIntroduction{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.TrimmerIntroduction img{
    width: 400px;
    border: solid 1px black;
}

.TrimmerIntroduction ul{
    list-style-type: none;
    padding: 20px;
    border: dashed 2px #668ad8;
    margin-left: 20px;
}

.TrimmerIntroduction ul li{
    text-align: left;
    padding: 20px 0;
}

.menu-list{
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0px;
}

.menu-list ul li{
    background-color: rgb(252, 243, 124);
    border: solid 5px rgb(90, 189, 255);
    border-radius:20px;
    display: inline-block;
}

.menu-list li{
    padding: 20px;
    margin: 0px 20px;
}

.index-left{
    margin: auto 0px;
    width: 70%;
}

input.text-area{
    border: 1px solid black;
    padding: 5px;
}

input.submit-button{
    border: 1px solid black;
    padding: 5px;
    border-radius:10px;
    background-color: #bdf1fa;
}
.text-area{
    width: 100%;
}

.login-box{
    padding: 10%;
}

.login-box table{
    border: 2px black solid;
    margin-bottom: 40px;
    padding: 30px 20px 20px 0px;
}

.login-box a{
    background-color: rgb(252, 243, 124);
    border: solid 1px rgb(90, 189, 255);
    border-radius:20px;
    padding: 20px;
}

.index-right{
    margin: auto 0px;
    width: 40%;
}

.index-right p{
    font-size: 20px;
    margin-bottom: 40px;
}

.index-right a{
    background-color: rgb(252, 243, 124);
    border: solid 1px rgb(90, 189, 255);
    border-radius:20px;
    padding: 20px;
}

.index-top{
    display: inline-flex;
    width: 90%;
}

.index-bottom{
    margin-right: 30%;
}

.line{
    background-color: aquamarine;
    height: 20px;
}

/*MedicalRecord top*/
.medical-record-top{
    display: flex;
}

.medical-record-top-left{
    width: 40%;
    margin: 10px;
}

.medical-record-top-center{
    width: 40%;
    margin: 10px 0px;
}

.medical-record-top-right{
    width: 40%;
    margin: 10px;
}

/*MedicalRecord bottom*/
.medical-record-bottom{
    width: 100%;
    margin: 10px;
}

.medical-record-bottom table{
    border: solid 1px black;
    border-collapse: collapse;
    max-width: 98%;
}

.medical-record-bottom tr td{
    border-right: solid 1px black;
    border-bottom: solid 1px black;
}

.medical-record-top-left table,
.medical-record-top-center table,
.medical-record-top-right table{
    max-width: 100%;
    border-collapse: collapse;
}

.medical-record-top-left tr td,
.medical-record-top-center tr td,
.medical-record-top-right tr td{
    border: solid 1px black;
}

.medical-record-top-right-img{
    margin-left: auto;
    margin-right: auto;
}

.medical-record-top-right img{
    width: 100%;
    height: auto;
}

.member-registration-form{
    display: flex;
    justify-content: space-around;
}

.member-registration-form-left input,
.member-registration-form-right input{
    padding: 5px;
    margin: 5px;
    width: 100%;
}

.member-registration-form-left .button-type,
.member-registration-form-right .button-type{
    width: 10%;
}


.member-registration-form-left,
.member-registration-form-right{
    max-width: 40%;
    text-align: left;
}

.member-registration-form-left .family-hospital-line{
    margin-bottom: 30px;
}

.my-page-button{
    background-color: rgb(252, 243, 124);
    border: solid 1px rgb(90, 189, 255);
    border-radius:20px;
    padding: 20px;
}


/*my-page*/
.my-page-top{
    display: flex;
    justify-content: space-around;
}

.my-page-top-left,
.my-page-top-right{
    max-width: 80%;
    min-width: 50%;
}

.my-page-top-left img{
    width: 40%;
    border-radius:20px;
    border: solid 1px black;
}

.my-page-top-right p{
    font-size: 20px;
    margin: 20px 0px;
}

.my-page-top-right a{
    background-color: rgb(252, 243, 124);
    border: solid 1px rgb(90, 189, 255);
    border-radius:20px;
    padding: 10px;
}